body {
    background-size: cover;
    background-image: url(Bilder/Website.Background1.jpeg);
    
  
}

header {
    position: sticky;
    width: 100%;
    background-color: rgb(255,255,255, 0.4);
    border-radius: 14px;
   
}


header .Header {
    color: rgb(39, 41, 55);
    
    font-size: 50px;
    display: flex;
    justify-content: center;
    font-family: 'Roboto Slab', serif;
    letter-spacing: 10px;
    border: black, 2px, solid;
    padding: 8px;
}

header nav {
    padding: 6px;
    margin: -10px;
    position: sticky;
  }
  
  header nav ul {
    display: flex;
    justify-content: space-around;
    padding: 12px;
    margin: 10px;
  }
  
  header nav ul li {
    list-style: none;
  }
  
  header nav ul li a {
    color: white;
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
    transition: 0.5s;
    user-select: none;
    text-decoration: none;
  }